{% extends 'noticias/base.html' %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h4 class="mb-0">Acerca de Pulso</h4>
            </div>
            <div class="card-body">
                <h4>Quiénes somos</h4>
                <p>Pulso es una cadena de noticias digital fundada en 2026, dedicada a brindar información veraz y actualizada sobre las principales temáticas de la actualidad: política, tecnología y deportes.</p>
                <p>Nuestro equipo de periodistas trabaja día a día para acercar a los lectores contenido de calidad, con rigor periodístico y compromiso con la verdad.</p>
                <hr>
                <h6>Misión</h6>
                <p>Informar con transparencia y responsabilidad.</p>
                <h6>Visión</h6>
                <p>Ser el portal de noticias de referencia en la región.</p>
                <hr>
                <h6>Contacto</h6>
                <p>redaccion@pulso.com</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}